
@{
    ViewBag.Title = "ListStudent";
}

<h2>List of students and their grades</h2>

<form method="post" action="">
    <table>
        <tr>
            <td><p>Choose a student from the list :</p></td>
            <td>

                <select name="StudentId">

                    @foreach (var cr in ViewBag.AllStudents)
                    {
                        <option value="@cr.StudentId">@cr.FirstName @cr.LastName</option>
                    }
                </select>
            </td>
        </tr>
        <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
    </table>
    <h2></h2>
    <table>
        <tr>
            <td><p>Enrolmentt Id</p></td>
            <td><p>First Name</p></td>
            <td><p>Last Name</p></td>
            <td><p>Subject Name</p></td>
            <td><p>Grade</p></td>

        </tr>
        @foreach (var c in ViewBag.AllSubjectStudents)
        {
            <tr>
                <td><p>@c.EnrolmentId</p></td>
                <td><p>@c.Student.FirstName</p></td>
                <td><p>@c.Student.LastName</p></td>
                <td><p>@c.Subject.SubjectName</p></td>
                <td><p>@c.Grade.GradeName</p></td>
            </tr>
        }
    </table>
    <h2></h2>
    <p><a class="btn btn-default" href="/Home/AddGrade">Add Grade &raquo;</a></p>
</form>