
@{
    ViewBag.Title = "ListStudent";
}

<h2>ListStudent</h2>

<form method="post" action="">
    @*<h1>List of Students</h1>
    <table class="table-bordered">
        <tr>
            <td><p>Enrolmentt Id</p></td>
            <td><p>First Name</p></td>
            <td><p>Last Name</p></td>
            <td><p>Subject Name</p></td>
            <td><p>Grade</p></td>

        </tr>
        @foreach (var c in ViewBag.AllSubjectStudents)
        {
            <tr>
                <td><p>@c.EnrolmentId</p></td>
                <td><p>@c.Student.FirstName</p></td>
                <td><p>@c.Student.LastName</p></td>
                <td><p>@c.Subject.SubjectName</p></td>
                <td><p>@c.Grade</p></td>
            </tr>
        }
    </table>*@

    <table>
        <tr>
            <td><p>Choose a student from the list :</p></td>
            <td>

                <select name="StudentId">

                    @foreach (var cr in ViewBag.AllStudents)
                    {
                    <option>@cr.FirstName @cr.LastName</option>
                    }
                </select>
            </td>
        </tr>
        <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
    </table>
    <table class="table-bordered">
        <tr>
            <td><p>Enrolmentt Id</p></td>
            <td><p>First Name</p></td>
            <td><p>Last Name</p></td>
            <td><p>Subject Name</p></td>
            <td><p>Grade</p></td>

        </tr>
        @foreach (var c in ViewBag.AllSubjectStudents)
        {
            <tr>
                <td><p>@c.EnrolmentId</p></td>
                <td><p>@c.Student.FirstName</p></td>
                <td><p>@c.Student.LastName</p></td>
                <td><p>@c.Subject.SubjectName</p></td>
                <td><p>@c.Grade</p></td>
            </tr>
        }
    </table>
</form>